# Update configuration. Spece delimited.  Two columns are expected.  
# (1) FITS keyword  
# (2) HDUs where this is applied (can be numeric or named)  
# Lines beginning with hashmark are ignored  
#            
# Keyword updates in the SCI HDU only  
#scampflg      'Flag for SCAMP: 0=no WARNING, 1=WARNING exists'
SCAMPNUM       SCI
SCAMPCHI       SCI
FWHM           SCI
ELLIPTIC       SCI
SCAMPREF       SCI
# updates in the IMG and MSK HDUs  
EQUINOX        SCI,MSK
RADESYS        SCI,MSK
CTYPE1         SCI,MSK
CTYPE2         SCI,MSK
CUNIT1         SCI,MSK
CUNIT2         SCI,MSK
CRVAL1         SCI,MSK
CRVAL2         SCI,MSK
CRPIX1         SCI,MSK
CRPIX2         SCI,MSK
CD1_1          SCI,MSK
CD1_2          SCI,MSK
CD2_1          SCI,MSK
CD2_2          SCI,MSK
PV1_0          SCI,MSK
PV1_1          SCI,MSK
PV1_2          SCI,MSK
PV1_3          SCI,MSK
PV1_4          SCI,MSK
PV1_5          SCI,MSK
PV1_6          SCI,MSK
PV1_7          SCI,MSK
PV1_8          SCI,MSK
PV1_9          SCI,MSK
PV1_10         SCI,MSK
PV2_0          SCI,MSK
PV2_1          SCI,MSK
PV2_2          SCI,MSK
PV2_3          SCI,MSK
PV2_4          SCI,MSK
PV2_5          SCI,MSK
PV2_6          SCI,MSK
PV2_7          SCI,MSK
PV2_8          SCI,MSK
PV2_9          SCI,MSK
PV2_10         SCI,MSK
# All of these are done now by DESIma at write time
# RA_CENT        SCI,MSK
# DEC_CENT       SCI,MSK
# RAC1           SCI,MSK
# RAC2           SCI,MSK
# RAC3           SCI,MSK
# RAC4           SCI,MSK
# DECC1          SCI,MSK
# DECC2          SCI,MSK
# DECC3          SCI,MSK
# DECC4          SCI,MSK
# RACMIN         SCI,MSK
# RACMAX         SCI,MSK
# DECCMIN        SCI,MSK
# DECCMAX        SCI,MSK
# CROSSRA0       SCI,MSK
