# Update configuration. Spece delimited.  Two columns are expected.  
# (1) FITS keyword  
# (2) HDUs where this is applied (can be numeric or named)  
# Lines beginning with hashmark are ignored  
#            
# Keyword updates in the 0 HDU only  
#scampflg      'Flag for SCAMP: 0=no WARNING, 1=WARNING exists'
SCAMPNUM       0
SCAMPCHI       0
FWHM           0
ELLIPTIC       0
SCAMPREF       0
# updates in the IMG and MSK HDUs  
EQUINOX        0,1
RADESYS        0,1
CTYPE1         0,1
CTYPE2         0,1
CUNIT1         0,1
CUNIT2         0,1
CRVAL1         0,1
CRVAL2         0,1
CRPIX1         0,1
CRPIX2         0,1
CD1_1          0,1
CD1_2          0,1
CD2_1          0,1
CD2_2          0,1
PV1_0          0,1
PV1_1          0,1
PV1_2          0,1
PV1_3          0,1
PV1_4          0,1
PV1_5          0,1
PV1_6          0,1
PV1_7          0,1
PV1_8          0,1
PV1_9          0,1
PV1_10         0,1
PV2_0          0,1
PV2_1          0,1
PV2_2          0,1
PV2_3          0,1
PV2_4          0,1
PV2_5          0,1
PV2_6          0,1
PV2_7          0,1
PV2_8          0,1
PV2_9          0,1
PV2_10         0,1
# All of these are done now by DESIma at write time
# RA_CENT        0,1
# DEC_CENT       0,1
# RAC1           0,1
# RAC2           0,1
# RAC3           0,1
# RAC4           0,1
# DECC1          0,1
# DECC2          0,1
# DECC3          0,1
# DECC4          0,1
# RACMIN         0,1
# RACMAX         0,1
# DECCMIN        0,1
# DECCMAX        0,1
# CROSSRA0       0,1
